CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Visual Studio
.vs
CMakeSettings.json

# ImGui
imgui.ini

# VSCode
.vscode/launch.json
.vscode/ipch
.vscode/settings.json

# InteliJ
cmake-*
.idea

build/

.vscode/c_cpp_properties.json

CMakeLists.txt.user

*.autosave
